@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins&display=swap");
:root {
  --bg-white: #f8f8f8;
  --lavender: #7746d3;
  --purple: #634ad6;
  --light-green: #58c193;
  --dark-green: #6dc17f;
  --yellow: #facd51;
  --orange: #e98271;
  --bg-purple: #595282;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-white);
  width: 15%;
  height: 90vh;
  /* justify-content: center; */
  border: 2px solid blue;
  /* align-items: center; */
}

.sidebar-list {
  background-color: var(--bg-white);
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 22px;
  /* width: 20vw; */
  border: 2px solid red;
  padding: 1rem;
}
.sidebar-list li {
  margin-top: 1rem;
  line-height: 60px;
}

.sidebar-profile {
  display: flex;
  /* flex-direction: column; */
  border: 2px solid aqua;
  /* margin-bottom: 1rem; */
  /* padding: 1rem; */
  margin-top: 3rem;
  /* height: 40%; */
  text-align: center;
}

.sidebar-profile p {
  border: 2px solid black;
  margin-top: 1rem;
}
/* .sidebar-profile img {
} */

.sidebar-profile img {
  width: 60%;
  border-radius: 50%;
}
